*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;

    body {
        display: flex;
        flex-direction: column;
        min-height: 100dvh;

        background-color: var(--background);
        color: var(--text-normal);

        font-size: var(--text-regular);

        color-scheme: light;

        font-family: 'Onest', sans-serif;
        font-weight: 400;
        font-style: normal;

        text-wrap: pretty;
    }
}